:root{
    --bg-principal: #1B203E;
    --bg-sec: #2D325C;
    --color-sec: #9DA2B4;
    --vermelho: #E45599;
    --azul: #4658c9;
}
*{
    margin: 0;
    padding: 0;  
    /* background-color: rgba(50, 205, 50, 0.1) !important; */
}
body{
    font-family: 'Inter', sans-serif;
    background-color:var(--bg-principal);
    color: #fff;
}
main{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg-sec);
    width: 360px;
    height: auto;
    border-radius: 7px;
}
.visor{
    /* background-color: #fff; */
    height: 50px;
    border-radius: 7px;
}
.visor_ultimo{
    background-color: red;
}
.cisor_operador{
    background-color: green;
}
.visor_atual{
    background-color: blue;
}